<link rel="stylesheet" type= "text/css" href="~/css/pgeventos.css">
<main>
        <br>
                <h1>Eventos</h1>
<br>

        <div class="nomeeventoelink">

        <p>20/DEZ | Show do JamBrasil</p>
        <div class="eventonome">
                <a href="https://www.suamusica.com.br/jamissondosteclados/moacir-forrocha-2019" target="_blank">| MAIS INFORMAÇÕES |</a>
        </div>

        <br>

        <p>25/FEV | Resenha do Pedro</p>
        <div class="eventonome">
                <a href="http://www.leitoraincomum.com.br/2014/05/resenha-pedro-noite-de-caio-riter.html" target="_blank">| MAIS INFORMAÇÕES |</a>
                </div>

        <br>

        <p>01/MAR | Rave do Dayverson</p>
        <div class="eventonome">
                <a href="https://www.youreact247.com/5c7741380ea57/deu-ruim.html" target="_blank">| MAIS INFORMAÇÕES |</a>
                </div>
                
        <br>

        <p>15/SET | Pantanal</p>
        <div class="eventonome">
                <a href="https://www.facebook.com/BaileDoPantanalOfficial/" target="_blank">| MAIS INFORMAÇÕES |</a>
                </div>
        </div>
</main>