
#painel {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 1.8em;
}

h3 {
    padding: 0.5em 0;
    font-size: 1.3em;
    color: #361a0c;
    text-shadow: 
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
   -1px  1px 0 #fff,
    1px  1px 0 #fff;
    text-align: center;
}

h4 {
    font-size: 2em;
}

.box-status-pedidos {
    width: 30%;
    padding-top: .5em;
    text-align: center;
    justify-content: center;
}
.box-status-pedidos > p {
    font-size: 2em;
    padding: 0.5em 0 0 0;
}

.box-status-pedidos.reprovados {
    background-color: #c41d1d;
}

.box-status-pedidos.aprovados {
    background-color: #83b314;
}

.box-status-pedidos.pendentes {
    background-color: #7d0093;
}
#lista-pedidos{
    padding: 3em;
}

#lista-aprovados{
    padding: 4em;
}

#lista-reprovados{
    padding: 4em;
}
table {
    text-align: center;
    color: black;
    border: 1px dashed #7d0093;
    width: 100%;
    padding: 5px;
    word-break: normal;
}

table th {
    background-color: #7d0093;
}

table a {
    text-decoration: none;
    color: #7d0093;
}

table a:hover {
    text-decoration: underline;
}

tfoot td {
    text-align: center;
    color: black;
    background-color:  #7d0093;
}

thead > tr:first-child > th:last-child {
    padding: 0 .5em;
}



@media (max-width: 625px) {
    main {
        width: 90%;
    }

    h4 {
        font-size: 1em;
    }


}