/* ===========================================================================================================================
                                                            COMEÇO BODY
=============================================================================================================================== */
*{
    margin: 0;
    padding: 0;
}

body{
font-family: 'Raleway', sans-serif;
background-color: #e8d94f;

}
/* ===========================================================================================================================
                                                            FIM BODY
=============================================================================================================================== */
/* ===========================================================================================================================
                                                        COMEÇO HEADER
=============================================================================================================================== */
header{
    text-align: center;
    position: relative;
    top:  -2em;
    padding: 5em;
}


nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    list-style-type: none;
    padding: 2.5em;
}

nav ul > li {
    width: 100%;
    text-align: center;
}

nav ul > li > a {
	display: block;
	padding: 0.4em;
    text-decoration: none;
    color:black;
    font-weight: bold;
}

nav ul > li > a:hover {
    color: #fff;
}

a{
    text-decoration: none;
}

h1{
    font-size: 2.6em;
}

/* ===========================================================================================================================
                                                            FIM HEADER
=============================================================================================================================== */
/* ===========================================================================================================================
                                                    COMEÇO TITULO DA GALERIA
=============================================================================================================================== */

h1{
    font-size: 2.6em;
    text-align: center;
}

h2{
    font-size: 2.0em;
    padding: 1.3em;
}

h3{
    font-size: 2.0em;
    padding: 1.3em;
    text-align: right;
}

h4{
    font-size: 2.0em;
    padding: 1.3em;
    text-align: center;
}

/* ===========================================================================================================================
                                                    FIM TITULO DA GALERIA
=============================================================================================================================== */
/* ===========================================================================================================================
                                                    COMEÇO FOTOS DA FALERIA
=============================================================================================================================== */

.foto{
    text-align: center;
    justify-content: space-between
}

/* ===========================================================================================================================
                                                    FIM FOTOS DA FALERIA
=============================================================================================================================== */
/* ===========================================================================================================================
                                                        COMEÇO FOOTER
=============================================================================================================================== */
address{
    text-align: center;
    background-color: #a318be ;
    position: relative;
    top: 5em;
}
/* COMEÇO SITE RESPONSIVO */
nav #bt-mobile-menu {
    display: none;
}

@media(max-width: 600px){
nav #bt-mobile-menu {
    display: block;
}

nav .bt-common-menu {
    display: none;
}

nav .bt-common-menu.active {
    display: block;
}

nav ul.mobile-mode {
    display: flex;
    flex-direction: column;
    }

    h1{
        font-size: 2em;
        text-align: center;
    }
    
    h2{
        font-size: 1.7em;
        
    }
    
    h3{
        font-size: 1.7em;
       
    }
    
    h4{
        font-size: 1.7em;
        text-align: center;
    }

    
}

