<link rel="stylesheet" type= "text/css" href="~/css/pggaleria.css">
<main>
    <h1> Galeria de fotos</h1>
    <br>
    <br>
    <h2>Casamentos</h2>

    <div class="foto">
        <img src="../img/foto-casamento-1.jpg">
        <img src="../img/foto-casamento-2.jpg">
        <img src="../img/foto-casamento-3.jpg">
    </div>




    <br>

    <h3>Festas de 15 anos</h3>

    <div class="foto">
        <img src="../img/foto-festa15-1.jpg">
        <img src="../img/foto-festa15-2.jpg">
        <img src="../img/foto-festa15-3.jpg">
    </div>

    <br>

    <h4>Raves</h4>

    <div class="foto">
        <img src="../img/foto-rave-1.jpg">
        <img src="../img/foto-rave-2.jpg">
    </div>
    </div>
    </div>
</main>  