@model RoleTopMVC.ViewModels.BaseViewModel
<!DOCTYPE html>
<html>

    <html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rolê Top | Aqui seu rolê é top!</title>
    <link href="img/logo.png" rel="icon" type="image/x-icon">
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" type= "text/css" href="~/css/pgmodel.css">
    
</head>

<body>
    <header>
        <nav>
            <div class="section-container">
                <ul>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Galeria" asp-action="Index">Galeria</a></li>
                    <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Reservar" asp-action="Index">Reservar</a></li>
                    @if(string.IsNullOrEmpty(@Model.UsuarioEmail))
                    {
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Index">Login/Cadastro</a></li>   
                    }
                    else
                    {
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Logoff">Logoff</a></li>
                        <li class="bt-common-menu"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Historico">Meus eventos</a></li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer>
        <address>
            Avenida de Limeira, 539 - Campos Elíseos - SP
            <br />
            roletop.contato@email.com
            <br />
            (11) 1234 6789

        </address>
    </footer>

    <script>
        function toggleMobileMenu() {
            var ul = document.querySelector("nav ul");
            var commonButtons = document.querySelectorAll("nav .bt-common-menu");
            var icon = document.querySelector(".icon > i");

            ul.classList.toggle("mobile-mode");

            if (icon.classList.contains("fa-bars")) {
                icon.classList.remove("fa-bars");
                icon.classList.remove("fa");

                icon.classList.add("fas");
                icon.classList.add("fa-skull");
            } else {
                icon.classList.remove("fas");
                icon.classList.remove("fa-skull");

                icon.classList.add("fa");
                icon.classList.add("fa-bars");
            }

            for (var button of commonButtons) {
                button.classList.toggle("active");
            }

        }

    </script>
</body>

</html>
</html>
